:root {
   --blue: linear-gradient(180deg, #0120CB 0%, #011BA9 100%);
   --yellow: #FFE817;
   --green: #90FF7E;
   --red: #FFA57E;
   --spooky-orange: #ad4e08;
   --spooky-orange-text: #fffec8;
   --gap: 0.1em;
   --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   --jepBlue: #2A68C6;
}

* {
   box-sizing: border-box;
}

html, body {
   height: 115%;
}
// height: 100%;

body {
   font-family: sans-serif;
   // background: #222;
   color: white;
   font-size: 2vw;
   text-align: center;
   padding: 3em;
   padding-top: 5px;
   background: linear-gradient(180deg, #272736 0%, #0C0C2C 100%);
}
// padding: 1em;

.top-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-shadow: var(--text-shadow);
   height: 4rem;    
}
.score {
   display: flex;
   align-items: center;
}
.score-count {
   color: var(--yellow);
   font-size: 2em;
   font-weight:bold;
   margin-left: 0.2em;
}

.column ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.board {
   display: flex;
   justify-content: space-around;
}
.board .column {
   flex: 1;
   margin-left: var(--gap);
   margin-right: var(--gap);
}
.board .column header {
   text-transform: capitalize;
   background: var(--blue);
   text-align: center;
   margin-bottom: 1em;
   height: 3em;
   display: flex;
   align-items: center;
   justify-content: center;
}
.board .column li {
   background: var(--blue);
   color: var(--yellow);
   height: 3em;
   margin-bottom: 0.25em;
}
.board .column button {
   height: 100%;
   color: inherit;
   font-size: 2em;
   -webkit-appearance: none;
   border: 0;
   background: none;
   display: block;
   width: 100%;
   cursor: pointer;
   text-shadow: var(--text-shadow);
   font-weight:bold;
}
.board .column button.used {
   visibility: hidden;
}

.card-modal {
   opacity: 0;
   pointer-events:none;
   transition: opacity 0.4s ease-in-out;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background: var(--blue);
   position: fixed;
   font-size: 2vw;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

.card-modal.visible {
   opacity: 1;
   pointer-events:initial;
}

.card-modal.showing-result .result {
   display:block;
}

.card-model .clue-text {
   margin-bottom: 2em;
}

.result,
.card-modal.showing-result form {
   display:none;
}

.card-modal form {
   display: flex;
}
.card-modal form input[type="text"] {
   display: block;
   flex-grow: 1;
   height: 3em;
   line-height: 3em;
   border: 0;
   text-align: center;
   border-top-left-radius: 0.4em;
   border-bottom-left-radius: 0.4em;
}
.card-modal form button[type="submit"] {
   padding-left: 2em;
   padding-right: 2em;
   cursor: pointer;
   font-family: inherit;
   background: var(--yellow);
   border: 0;
   font-size: inherit;
   border-top-right-radius: 0.4em;
   border-bottom-right-radius: 0.4em;
}
.card-modal-inner {
   width: 60%;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.result_success, .result_fail {
   font-size: 2em;
   font-weight:bold;
}
.result_success {
   color: var(--green);
}
.result_fail {
   color: var(--red);
}
.result_correct-answer-text {
   font-weight:bold;
   font-size: 2em;
   display:block;
   margin-left: 0.1em;
}

.dispute-container {
    display: flex;
    justify-content: center;
    padding-block: 0.75rem;
}

.dispute-btn {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
    background-color: #A338C2;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    display: block;
    width: 50%;
    height: 2rem;
}


.game-title {
    font-family: gyparody;
    font-size: 50px;
}




// TWO PLAYER APP

.player-one-score, .player-two-score {
   display: flex;
   align-items: center;
}

.player-one-score-count, .player-two-score-count {
   color: var(--yellow);
   font-size: 2em;
   font-weight:bold;
   margin-left: 0.2em;
}





// MENU

// .title-container {
//     display: flex;
//     justify-content: center;
// }

.game-title-header {
    font-family: gyparody;
    font-size: 80px;
    margin-block-end: 2%;
    margin-block-start: 2%;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.select-categories {
    font-size: 35px;
}

.start-button, .two-player-start-btn {
    font-size: 25px;
    background-color: #2A68C6;
    color: white;
    transition: 0.3s;
}

.start-button:hover, .two-player-start-btn:hover {
    background-color: #54db4d;
}

.bottom-menu-buttons > button:hover {
    // background-color: #2A68C6;
    color: white;
}

.categories {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.cat-btn {
    font-size: 20px;
    margin-bottom: 10px;
    margin-inline: 10px;
    flex-basis: 20%;
}

.cat-btn:hover {
    background-color: #A338C2;
    color: white;
}

.menu button {
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    // background-color: var(--blue);
}

.bottom-menu-buttons {
    display: flex;
    justify-content: space-around;
    transition: 0.3s;
}

.bottom-menu-buttons > button {
    color: white;
    font-size: 18px;
    background-color: #2A68C6;
}

.clear-selected-categories:hover {
    background-color: #eb1313;
}

.random-category-button:hover {
    background-color: #d96111;
}

.selected-category {
    background-color: #A338C2;
    color: white;
    cursor: not-allowed;
}



// instructions 

.instructions-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 2px solid white;
    border-radius: 10px;
    z-index: 15;
    background-color: white;
    color: white;
    // width: 500px;
    // height: 500px;
    max-height: 77%;
    max-width: 75%;
    background-color: #2A68C6;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    // font-weight: bold;
}

.instructions-container.active {
    transform: translate(-50%, -50%) scale(1);
}

.instructions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    border-bottom: 2px solid #003d9e;
    height: 3em;
}

.instructions-container button {
    border: none;
    outline: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bolder;
}

.instructions-container button:hover {
    cursor: pointer;
}

.instructions-content {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-right: 1em;
    text-align: left;
}

.instructions-intro {
    margin-block: .1em;
    margin-top: 7px;
    margin-bottom: 5px;
}
.instructions-list {
    font-size: 18px;
    margin-top: 5px;
}

.overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

.name-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 2px solid white;
    border-radius: 10px;
    z-index: 15;
    background-color: white;
    color: white;
    // width: 500px;
    // height: 500px;
    max-height: 77%;
    max-width: 75%;
    background-color: #2A68C6;
    // font-weight: bold;
}

.name-screen.active {
    transform: translate(-50%, -50%) scale(1);
}

.name-screen-container {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5.5em;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

.hide {
    opacity: 1;
    display: none;
}

.final-score-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 2px solid white;
    border-radius: 10px;
    z-index: 15;
    background-color: white;
    color: white;
    // width: 500px;
    // height: 500px;
    max-height: 77%;
    max-width: 75%;
    background-color: #2A68C6;
    // font-weight: bold;
}

.final-score-modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.final-score-container {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5.5em;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.two-player-final-score-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 2px solid white;
    border-radius: 10px;
    z-index: 15;
    background-color: white;
    color: white;
    // width: 500px;
    // height: 500px;
    max-height: 77%;
    max-width: 75%;
    background-color: #2A68C6;
    // font-weight: bold;
}

.two-player-final-score-modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.two-player-final-score-container {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3em;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.two-player-restart-game-btn {
    border-radius: 10px;
    font-weight: bold;
    padding: 0.5em;
    width: 75%;
}

.two-player-restart-game-btn:hover {
    cursor: pointer;
}

.restart-game-btn {
    border-radius: 10px;
    font-weight: bold;
    padding: 0.5em;
    width: 75%;
}

.restart-game-btn:hover {
    cursor: pointer;
}